<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" shutdownHook="disable">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%level{length=1} %d{HH:mm:ss,SSS} [%t] %logger{0} %msg%n"/>
        </Console>

        <File name="InfoFile" fileName="${sys:logFilename}.log" append="false" immediateFlush="true">
            <!--PatternLayout pattern="%highlight{%level{length=1}[%d{HH:mm:ss,SSS}] [%t] %logger{0}} %msg%n"/-->
            <PatternLayout pattern="%level{length=1} %d{yyyy/MM/dd-HH:mm:ss,SSS} [%t] [%logger{0}] %msg%n"/>
        </File>
        <File name="DebugFile" fileName="${sys:logFilename}.deb" append="false" immediateFlush="true">
            <!--PatternLayout pattern="%highlight{%level{length=1}[%d{HH:mm:ss,SSS}] [%t] %logger{0}} %msg%n"/-->
            <PatternLayout pattern="%level{length=1} %d{yyyy/MM/dd-HH:mm:ss,SSS} [%t] [%logger{0}] %msg%n"/>
        </File>
    </Appenders>InfoFile

    <Loggers>
        <!-- UNCOMMENT TO SPECIFY LOG LEVEL OF PACKAGES
        <Logger level="info" name="protocols.overlays"/>
        <Logger level="debug" name="protocols.dissemination"/-->
        <Logger level="info" name="io.netty"/>
        <Logger level="error" name="pt.unl.fct.di.novasys.network"/>
        <Logger level="error" name="pt.unl.fct.di.novasys.channel"/>
        <Logger level="error" name="pt.unl.fct.di.novasys.babel"/>
        <Logger level="info" name="hyparflood"/>
        <Logger level="info" name="manager"/>
        <Logger level="info" name="proxy"/>
        <Logger level="warn" name="org.apache.cassandra"/>

        <!--Logger level="info" name="tree"/>
        <Logger level="info" name="manager"/-->

        <Root level="debug">
            <!--AppenderRef ref="Console" level="info"/-->
            <AppenderRef ref="InfoFile" level="info"/>
            <!--AppenderRef ref="DebugFile" level="debug"/-->
        </Root>
    </Loggers>

</Configuration>
